<p id="notice"><%= notice %></p>

<h1>Smemos</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Title</th>
      <th>Memo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @smemos.each do |smemo| %>
      <tr>
        <td><%= smemo.name %></td>
        <td><%= smemo.title %></td>
        <td><%= smemo.memo %></td>
        <td><%= link_to 'Show', smemo %></td>
        <td><%= link_to 'Edit', edit_smemo_path(smemo) %></td>
        <td><%= link_to 'Destroy', smemo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Smemo', new_smemo_path %>
